.header {
  box-sizing: border-box;
  padding-top: 50px;
  height: 150px;
  display: flex;
  align-items: baseline;
}

.name,
.title {
  padding-bottom: 50px;
}

.name {
  font-size: 2em;
}

.title {
  font-size: 1.5em;
}
