.header {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 30px;

  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  /* background-color: pink; */
}

.name,
.title {
}

.name {
  font-size: 2em;
  /* background: lightgreen; */
  padding-left: 40px;
  /* flex-basis: 30%; */
}

.title {
  font-size: 1.5em;
  /* background: lightblue; */
  padding-left: 40px;
  padding-right: 40px;
  /* flex-basis: 20%; */
  /* flex-grow: 1; */
}
